:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;

  color: var(--gray-5);
  background-color: var(--gray-95);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.section {
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-50);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap:16px;
}

#app {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--gray-95);
  background-color: var(--gray-5);
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
    background-color: var(--gray-35);
}

input {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-style:solid;
    border-radius: 8px;
    padding: 0.6em;
    outline: none;
    font-size: 1em;
    font-family: inherit;
    color: var(--gray-5);
    background-color: var(--gray-85);
}
input:hover {
    border-color: var(--gray-65);
}
input:focus {
    border-color: var(--gray-50);
}

.success {
    color: var(--green-5);
}
.warning {
    color: var(--red-5);
}

p {
    white-space: pre-line;
}